{% extends "layout.html" %}
{% from "_macros.html" import render_submit %}

{% block title %}Run model{% endblock %}

{% block content %}

  <div class="d-flex justify-content-center">
    <div class="card shadow col-6">
      <div class="card-body">
        <h5>Select model</h5>
        <form method="POST"
              action="{{ url_for('runmodels') }}">
          {{ form.csrf_token }}
          {# <div class="row mb-3"> #}
          {#   <div class="col"> #}
          {#     {{ render_file_field(form.csv_file) }} #}
          {#   </div> {\# col #\} #}
          {# </div> {\# row #\} #}
          <div class="row">
            <div class="col">
              {{ render_submit(form.submit, class_="btn btn-primary col-3") }}
            </div> {# col #}
          </div> {# row #}
        </form>
      </div> {# card-body #}
    </div> {# card #}
  </div>
  
{% endblock %}
